body {
  font-size: 17px;
  font-family: Montserrat, sans-serif;
}

.text-red {
  color: #f0134d;
}

#intro-section {
  text-align: center;
  background-color: #000839;
  color: white;
  background-image: url("image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 30px;
}

@media (min-width: 992px) {
  #font-size-large {
    font-size: 3rem;
  }
}

#check-list li {
  position: relative;
  padding-left: 8px;
  margin: 15px auto;
}

#check-list li i {
  position: absolute;
  left: -1em;
  top: 5%;
}

#offer-details-list {
  margin-left: 2rem;
}

#btn-preferred:hover {
  background-color: #D20D42;
}

#btn-preferred:focus {
  background-color: #D20D42;
  box-shadow: 0 0 0 .3rem rgba(210,13,66,0.6);
}

#btn-preferred {
  border: 2px #F01330;
  background-color: #f0134d;
  white-space: normal;
}

#check-list {
  margin-left: 5%;
}

.animate__animated.animate__headShake, .animate__animated.animate__flash {
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#founder-image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin: 5px auto;
}

.toast.fade {
  transition: opacity 1s linear !important;
}

#content-full-height {
  height: 150vh;
  font-size: 18px;
}

#sent-success-image {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

#content-card {
  -webkit-box-shadow: 0px 9px 25px -3px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 9px 25px -3px rgba(0,0,0,0.35);
  box-shadow: 0px 9px 25px -3px rgba(0,0,0,0.35);
  border-radius: 8px;
}

#intro-content {
  padding-top: 50px;
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  #intro-content {
    padding-top: 120px;
    padding-bottom: 180px;
    height: 90vh;
  }
}

@media (min-width: 576px) {
  #intro-content {
    padding-top: 70px;
    padding-bottom: 110px;
  }
}

.playfair-text {
  font-family: 'Playfair Display', serif;
  line-height: 42px;
  letter-spacing: 0.8px;
}

.playfair-text-heading {
  font-family: 'Playfair Display', serif;
  line-height: 56px;
  letter-spacing: 0.8px;
}

